body{
	margin-left: 10px;
	margin-right: 10px;
	background-color:#F4F4F4;
}

.nav-img{
	width: 5vw;
	background-color:#F4F4F4;
}

.nav-item{
	vertical-align: center !important;
}

.active{
	text-decoration: underline;
}

.headline{
	text-align: center;
}

.btn-big{
	width: 50%;
}
