body{
	margin-left: 10px;
	margin-right: 10px;
	/*background-color:#F4F4F4;*/
}

.font{
	font-size: 30px;
}

.scroll{
	height:300px;
  	overflow-y:scroll;
  	width:100%;
}

.nav-img{
	width: 5vw;
	background-color:#F4F4F4;
}

.nav-item{
	vertical-align: center !important;
}

.active{
	text-decoration: underline;
}

.headline{
	text-align: center;
}

.btn-big{
	width: 50%;
}

.container{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

.cancelbtn, .addbtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.cancelbtn, .addbtn:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .addbtn {
  float: left;
  width: 50%;
}

